.venv/
__pycache__/
*.py[cod]

results/
*.db
*.sqlite
*.sqlite3

data/cad_models/*.ply
data/scenes/
data/scene_gt_*.json

*.tif
*.png
*.jpg
*.jpeg

.DS_Store
Thumbs.db

data/
results_bak/
visualizations/